@charset "UTF-8";

/*
 * Widget settings
 */
.field--type-office-hours {
  white-space: normal;
/* vertical-align: middle; */
}
/* Format the 'day' column. */
.office-hours-label {
  text-align: left;
  font-weight: bold;
}
/* Format the 'day' column for additional slots. */
.office-hours-more-label {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
.office-hours__item-label {
  /* padding: 0 0 0 0; */
  /* float: left; */
  /* display: inline-block; */
  /* vertical-align: text-top; */
  font-weight: bold;
}
/* Make each link unbreakable for responsive widget table. */
.office-hours-link {
  white-space: nowrap;
}

/*
 * Formatter settings
 */
/* Formatter settings - default formatter */
.office-hours__item-label {
  vertical-align: text-top;
}
.office-hours__item-slots {
  vertical-align: text-top;
}
.office-hours__item-comments {
  vertical-align: text-top;
}

/* Formatter settings - table formatter */
tr.office-hours__item {
  /* Transparent background, hiding table details from user. */
  background: rgba(0, 0, 0, 0);
}

.office-hours__item td {
  /* Do not wrap label, slots, comments in cells. */
  vertical-align: text-top;
  white-space: nowrap;}

/* Formatter - the currently active time slot. */
.office-hours__item-current {
  background: rgba(0, 0, 0, 0);
}

/* Formatter - status formatter. */
.office-hours-status.office-hours-status--closed {
  font-style: italic;
  /* color: #e20e17; */
}
.office-hours-status.office-hours-status--open {
  /* color: #10a90b; */
}
